{% extends 'layout/base.html' %}

{% block container %}
    <form action="{{ url_for('auth.register') }}" method="POST">
        <div class="mb-3">
            {{ form.username.label }} 
            {{ form.username(class="form-control") }}
        </div>
        
        <div class="mb-3">
            {{ form.password.label }} 
            {{ form.password(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.confirm.label }} 
            {{ form.confirm(class="form-control") }}
        </div>
        <input class="btn btn-success" type="submit" value="Crear">
    </form>
{% endblock %}